.container {
    display: flex;
    align-items: center;

    .box {
        display: flex;
        flex-direction: row;
        position: relative;
        padding-top: 80px;
    }
    .cat {
        display: none;
        position: absolute;
        top: 20px;
        left: 290px;
        -webkit-transform: scale(0.9) translate(-2px, 0px) skew(0deg, -10deg);
        -moz-transform: scale(0.9) translate(-2px, 0px) skew(0deg, -10deg);
        -ms-transform: scale(0.9) translate(-2px, 0px) skew(0deg, -10deg);
        -o-transform: scale(0.9) translate(-2px, 0px) skew(0deg, -10deg);
        transform: scale(0.9) translate(-2px, 0px) skew(0deg, -10deg);

        &.catup {
            display: block;
        }
    }
}
