.container {
    display: flex;
    justify-content: flex-row;
    align-items: center;

.box {
    padding-top: 80px;
    position: relative;
}
}

    .cat {
        display: none;
        position: absolute;
        top: 20px;
        left: 290px;
        -webkit-transform: scale(0.9) translate(-2px, 0px) skew(0deg, -10deg);
        -moz-transform: scale(0.9) translate(-2px, 0px) skew(0deg, -10deg);
        -ms-transform: scale(0.9) translate(-2px, 0px) skew(0deg, -10deg);
        -o-transform: scale(0.9) translate(-2px, 0px) skew(0deg, -10deg);
        transform: scale(0.9) translate(-2px, 0px) skew(0deg, -10deg);
    
        &.catup {
            display: block;
    }
}

